.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    h1 {
        font-size: 2em;
    }
    .resume-inside {
        margin-top: 3em;
        // background: #F16D7E;
        .list li {
            display: inline-block;
        }
    }
}