.resume-inside {
    // background: #222;
    width: 98%;
    // margin: 80px auto 50px;
    font-family: "Inconsolata", monospace;
    // border: 1px solid gray;
    &:before {
        border-radius: 6px 6px 0 0;
        content: '';
        background: #1A1A1A;
        width: 100%;
        display: block;
        height: 20px;
        position: relative;
        top: -4px;
    }
    &:after {
        border-radius: 0 0 6px 6px;
        content: '';
        background: #1A1A1A;
        width: 100%;
        display: block;
        height: 20px;
        position: relative;
        bottom: -4px;
    }
}