$c-pink: #F16D7E;
.about {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 3em;
    .h {
        color: $c-pink;
    }
    h1 {
        font-size: 2em;
        color: $c-pink;
    }
    h2,
    h3 {
        color: $c-pink;
    }
    .quote {
        color: #CAC9CA;
    }
    .resume-inside {
        margin-top: 3em;
        .list li {
            display: inline-block;
            color: #CAC9CA;
        }
    }
}