.about {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 3em;
    a:hover {
        color: $c-pink;
    }
    .h {
        color: $c-pink;
    }
    h1 {
        font-size: 2em;
        color: $c-pink;
    }
    h2,
    h3 {
        color: $c-pink;
    }
    .quote {
        color: $c-gray;
    }
    .resume-inside {
        .summary {
            li {
                font-size: 1.3rem;
            }
        }
        .education {
            li {
                font-size: 1.3rem;
            }
        }
        margin-top: 3em;
        h3 {
            font-size: 1.75rem;
        }
        .list li {
            display: inline-block;
            color: $c-gray;
        }
    }
}