.navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    li {
        list-style: none;
        display: inline-block;
        position: relative;
        a:hover {
            color: #FFFEFF;
        }
        /*Shift*/
        a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: #CAC9CA;
            visibility: none;
            opacity: 0;
            z-index: -1;
            transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
            border-radius: 1px;
            // color: #289EF2;
            // content: '';
            // position: absolute;
            // left: 0;
            // display: inline-block;
            // height: 1em;
            // width: 100%;
            // border-bottom: 1px solid;
            // margin-top: 10px;
            // opacity: 0;
            // transition: opacity .5s, transform 0.35s;
            // transform: scale(0, 1);
        }
        a:hover:after {
            // transform: scale(1);
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
    }
}